name: CI

on:
  push:
    branches: [ main ]
    tags-ignore: [ '**' ]
    paths-ignore: [ '.github/workflows/generate.yml', 'Tool/**' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Prepare Submodule
      run: dotnet restore Tool/ClangSharp

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build Debug
      run: dotnet build --no-restore

    - name: Check Format
      run: dotnet format --no-restore --verify-no-changes --exclude Tool/ClangSharp

    - name: Build Release
      run: dotnet build LibvirtHeader/LibvirtHeader.csproj --no-restore -c Release

    - name: Create Artifacts
      run: |
        dotnet pack --no-build -c Release -o ./artifacts

        dotnet tool install -g docfx
        docfx doc/docfx.json

        CUR_DIR=$(pwd)
        REPOSITORY_NAME=${GITHUB_REPOSITORY#${GITHUB_REPOSITORY_OWNER}/}
        pushd "./doc/_site"
        tar -zcf "${CUR_DIR}/artifacts/help-${REPOSITORY_NAME}.tar.gz" *
        popd

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: artifacts-${{ runner.os }}-${{ runner.arch }}-${{ github.run_number }}
        path: artifacts/
        retention-days: 1
